.header {
  font-family: "Sacramento";
  margin: 95px 0 33px;
  font-size: 25px;
}

.header-span {
  font-family: "Sacramento";
  margin: 100px 0px 30px -33px;
  font-size: 17px;
}
@media (max-width: 1800px) {
  .header-menu {
    display: none;
  }
  .links {
    padding-left: 15px;
    width: 25%;
  }
}

@media (max-width: 450px) {
  .header {
    width: 300px;
    font-size: 19px;
  }

  .header-span.disabled {
    display: none;
  }

  .header-menu {
    display: block;
    font-size: 15px;
    margin-top: 15px;
    text-align: right;
  }
}
