.header {
  font-family: "Sacramento";
  margin: 95px 0 33px;
  font-size: 25px;
}

.header-span {
  font-family: "Sacramento";
  margin: 100px 0px 30px -22px;
  font-size: 17px;
}

@media (max-width: 450px) {
  .header {
    width: 300px;
    font-size: 19px;
  }

  .header-span.disabled {
    display: none;
  }
}
