.gallery {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-gap: 22px;
}

.galleryItem {
  margin-left: -33px;
  margin-bottom: 5px;
  cursor: pointer;
}

.galleryItem img {
  width: 89%;
  height: 99%;
}

@media (max-width: 450px) {
  .gallery {
    display: grid;
    grid-template-columns: 33.3%;
    grid-gap: 50px;
  }
  .galleryItem {
    margin-left: 15px;
    width: 350%;
  }
  .galleryItem:nth-last-child(-n + 5) {
    margin-top: -35px;
  }
}
