.gallery {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-gap: 17px;
  margin-left: 15px;
}

.galleryItem {
  margin-left: -33px;
  margin-bottom: 13px;
  cursor: pointer;
}

.galleryItem img {
  width: 87.5%;
}
.gallery-span {
  font-family: "Sacramento";
  margin: -60px 0px 30px -15px;
  font-size: 17px;
}

@media (max-width: 450px) {
  .gallery {
    display: grid;
    grid-template-columns: 33.3%;
    grid-gap: 50px;
  }
  .galleryItem {
    margin-left: 15px;
    width: 350%;
  }
  .galleryItem:nth-last-child(-n + 5) {
    margin-top: -35px;
  }
}
