@media (max-width: 1366px) {
  .container-custom {
    margin: 0 auto;
    width: 90%;
    font-weight: bold;
  }
}
@media (max-width: 450px) {
  .header {
    padding-top: 30px;
    padding-left: 15px;
    font-size: 17px;
  }
  .header-span {
    padding-top: 55px;
    padding-left: 65px;
    font-size: 13px;
  }
  .container-custom {
    margin: 0 auto;
    width: 80%;
    font-weight: bold;
  }
  .nav {
    font-size: 13px;
  }

  .nav-link-custom.active {
    color: red;
  }
}
